.button {
  @include font-oswald;
  @include text-center;
  @include text-uppercase;
  @include text-size(16px, 20px);
  border: none;
  background-color: $basic-green;
  color: $white;
  cursor: pointer;
}
