$white: #ffffff;
$black: #000000;
$charcoal: #111111;
$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$special-grey-2: #ebebeb;
$special-grey-3: #666666;
$dark-grey: #444444;
$dark-grey-2: #222222;
$status-error: #ff8282;
