*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  min-width: 320px;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 30px;
  }

  @media (min-width: $desktop) {
    padding: 0 110px;
    max-width: 1440px;
  }
}
