.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
  height: 1px;
  margin: -1px;
  padding: 0;
  width: 1px;
  white-space: nowrap;
  clip-path: inset(100%);
}
