.catalog-card {
  &__title {
    @include font-oswald;
    @include text-size(16px, 20px);
    @include text-uppercase;
    margin: 0;
    color: $dark-grey-2;
  }

  &__params {
    @include font-lato;
    @include text-center;
    @include text-size(12px, 16px);
    color: $dark-grey;
  }
}
