.catalog {
  &__main-title {
    @include font-oswald;
    @include text-size(36px, 36px);
    margin: 0;
    color: $black;
  }

  &__list {
    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
    }
  }
}
