.catalog {
  &--divided {
    border-bottom: 1px solid $special-grey-2;

    @media (min-width: $tablet) {
      border-bottom: none;
    }
  }

  &__main-title {
    @include font-oswald;
    @include text-size(36px, 36px);
    margin: 0 auto 41px;
    color: $black;

    @media (min-width: $tablet) {
      @include text-size(60px, 60px);
      margin-bottom: 84px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    gap: 36px;

    @media (min-width: $tablet) {
      flex-direction: column;
      margin-bottom: 0;
      gap: 0;
    }

    @media (min-width: $desktop) {
      max-width: 169px;
    }
  }

  &__list {
    margin: 0 auto 25px;

    @media (min-width: $tablet) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
      gap: 60px;
      margin-bottom: 74px;
    }

    @media (min-width: $desktop) {
      gap: 63px 80px;
      margin-bottom: 71px;
    }
  }

  &__item {
    margin: 0 auto;

    @media (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      border: none;
      background-image: linear-gradient(to bottom, $white 81px, $basic-grey 81px);
    }

    @media (min-width: $desktop) {
      max-width: 245px;
    }

    @media (min-width: $tablet) {
      &:last-child {
        padding-top: 50px;
        margin-top: 81px;
        justify-content: space-between;
        background: none;
        border: 2px solid $basic-grey;
      }
    }
  }

  &__image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    @media (min-width: $tablet) {
      align-items: center;
      min-height: 210px;
      margin-bottom: 22px;
    }
  }
}
