.catalog-card-more {
  &__title {
    @include font-oswald;
    @include text-center;
    @include text-size(16px, 20px);
    @include text-uppercase;
    margin: 0;
    color: $charcoal;
  }

  &__description {
    @include font-lato;
    @include text-center;
    @include text-size(12px, 16px);
    margin: 0;
    color: $dark-grey;
  }

  &__link {
    @include font-oswald;
    @include text-center;
    @include text-size(16px, 20px);
    @include text-uppercase;
    background-color: #f2f2f2;
    color: $dark-grey;
  }
}
