@use "../common/variables.scss";

.example {
  background-color: $special-grey-2;

  .example__title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #000000;
  }

  .example__description {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
  }

  .example__cost {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
  }

  .example__metric-title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #000000;
  }

  .example__metric-subtitle {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #444444;
  }
}
