@use "../common/variables.scss";

.goals-card {
  &__title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 37px;
    text-transform: uppercase;
    color: $black;
  }

  &__link {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: $black;
  }

  &--slim {
    background-image: url("../../icons/stack.svg#cat");
    background-size: 50px 53px;
    background-repeat: no-repeat;
    background-color: $basic-grey;
  }

  &--pro {
    background-image: url("../../icons/stack.svg#puma");
    background-size: 67px 50px;
    background-repeat: no-repeat;
    background-color: $basic-grey;
  }
}
