.goals {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

    @media (min-width: $tablet) {
      gap: 30px;
      margin-bottom: 45px;
    }

    @media (min-width: $desktop) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 71px;
    }
  }
}
