.html-academy {
  &__link {
    &::before {
      content: "";
      display: block;
      width: 27px;
      height: 34px;
      mask-image: url("../../icons/stack.svg#icon-html");
      background-color: $special-grey-3;
    }
  }
}
