.html-academy {
  &__link {
    display: flex;
    flex-direction: row-reverse;
    gap: 140px;

    &::before {
      display: block;
      height: 34px;
      width: 27px;
      background-color: $special-grey-3;
      mask-image: url("../../icons/stack.svg#icon-html");
      content: "";
    }
  }
}
