.logo {
  transition: 0.2s ease;

  &__image {
    display: flex;
    align-items: center;
  }

  &__text {
    @media (min-width: $tablet) {
      display: none;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
