@use "../common/variables.scss";

.steps {
  .steps__title {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #000000;
  }

  .steps__description {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
  }

  .steps__image {
    background-color: $basic-green;
  }
}
