.subscribe-form {
  &__input {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: $dark-grey;
  }

  &__button {
    padding: 14px 26px;
    height: 56px;
    font-size: 20px;
    line-height: 26px;
  }
}
