.subscribe-form {
  &__input {
    @include font-oswald;
    @include text-uppercase;
    @include text-size(20px, 0);
    color: $dark-grey;
  }

  &__button {
    @include text-size(20px, 26px);
    height: 56px;
    padding: 14px 26px;
  }
}
