.subscribe-form {
  .subscribe-form__input {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    color: #444444;
  }

  .subscribe-form__button {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  }
}
